.bill-box{
    display: flex;
    gap:23px;
    
}
.bill-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
}
.search-box{
    display: flex;
    height: 40px;
    gap:16px;

}

.search-box input{
    -webkit-box-shadow: 2px 9px 21px -4px #da01750d; 
    box-shadow: 2px 9px 21px -4px #da01750d;
    border: none;
    border-radius: 10px;
    padding: 8px;
    position: relative;
}
.search-icon{
    position: absolute;
    top: 120px;
    right: 50px;
}

.clients-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
}
.clients-box{
    display: flex;
    gap:23px;
}


.clients-add{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #da0175;
    color: white;
    border: none;
    border-radius: 10px;
    width: 264px;
    height: 46px;
    top: 20px;
    cursor: pointer; 
      
}
